html > *{
    display: block;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

.task {
    margin: 40px;
}

.flex-container {
	height: 400px;
    width: 400px;
    display: flex; 
	flex-direction: row;  
	justify-content: space-between;
    align-items: center; 
}

.flex-item {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url('image/boy1.png');
    background-size: cover;
    transition: 1s;    
    text-align: center; 
}

.flex-item:hover::before {    
    content: 'Это мяч?...';
    font-size: 2em;   
}

.flex-item:hover {
    height: 300px;
    margin: auto;
    width: 300px;
    background: url('image/boy2.png');
    background-size: cover;
    transition: 1s;
}

.flex-item:hover::after {
    content: url('image/boy7.png');;
    height: 100%;
    width: 100%;
    margin: auto;
    background-size: cover;
    transition-duration: 2s;
}

.flex-item:active::before {    
    content: 'Это кирпич!';
    font-size: 2em;
    text-align: center;
    transition: 1s;
    opacity: 1;    
}

.flex-item:active:hover {
    margin: auto;
    background: url('image/boy3.png');
    background-size: cover;
    transition: 1s;
    
}

.flex-item::after:active:hover {
    content: url('image/boy7.png');;    
    margin: auto;
    background-size: cover;
    transform: translate(35px, -35px) rotate(360deg);
}
